
.root{
    -fx-background-image:url("../image/mosaicgreen.jpg") ;
    -fx-background-size: 300px 400px;
    -fx-alignment: top-center;
}

#child-frame{
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

#tasklist-frame{
    -fx-pref-height: 200px;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

#title{

    -fx-font-size: 30px;
    -fx-alignment: top-center;
    -fx-font-family: monospace;
}

#textarea{
    -fx-padding: 5px;
    -fx-wrap-text: true;
}

#button{
    -fx-background-color: linear-gradient(#f2f2f2, #63d67c),
    linear-gradient(#fcfcfc 0%, #d3d98d 20%, #d69688 100%),
    linear-gradient(#dddddd 0%, #e4f699 50%);

    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-padding: 10px;
    -fx-pref-width: 100px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
 }

#addTaskButton{
    -fx-background-color: linear-gradient(#f2f2f2, #63d67c),
    linear-gradient(#fcfcfc 0%, #d3d98d 20%, #d69688 100%),
    linear-gradient(#dddddd 0%, #e4f699 50%);

    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-padding: 10px;
    -fx-pref-width: 100px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#taskListHbox{

    -fx-padding: 10px;
    -fx-pref-width: 200px;

}

#vertical-checkbox{

    -fx-padding: 10px;
    -fx-pref-width: 200px;
}


#contentMessage{
    -fx-font-size: 15px;
    -fx-font-family: monospace;
    -fx-padding: 10px;

}

#padding10{
    -fx-padding: 10px;
}
